/* =========== GLOBAL ============ */
/* ==================================== */
/* ==================================== */

body {
    background-image: url(pic/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    object-fit: contain;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Carter One', cursive;
    user-select: none;
}

/* =========== MOBILE ============ */
/* ==================================== */
/* ==================================== */



@media only screen and (max-width: 600px) {

/* =========== POPUP ============ */
/* ==================================== */
/* ==================================== */
.popup {
    width: 100vw;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

    /* =========== MENU ============ */

.popup--menu {
    width: 100%;
    height: 30%;
    position: absolute;
    z-index: 4;
    transition: all 1s ease-in;
    
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
    
}

.button {
    width: 50%;
    height: 60px;
    margin-top: 20px;
    background-color: orange;
    border: 4px solid black;
    border-radius: 25px;
    color: white;
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-content: center;
    -webkit-text-stroke: 2.5px black;
   margin: auto;
    text-align: center;
    user-select: none;
}

.button:active{
    border: 4px solid white;
}
    /* =========== COUNTDOWN ============ */

.popup--countdown {
    width: 200px;
    height: 200px;
    margin: auto;
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    position: absolute;
    
    font-size: 10rem;
    animation-name: countDown;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    color: white;
    -webkit-text-stroke: 2.5px black;
    z-index: 4;
    
}

@keyframes countDown {
    0% {
        transform: scale(100%);
            
    }
    
    75% {
        opacity: 100%;
    }
    100%{
        transform: scale(20%);
        opacity: 0%;
    }
}

    /* =========== SCORE ============ */
.popup--score {
    margin: auto;
    position: absolute;
    display: none;
    text-align: center;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 2rem;
    color: white;
    -webkit-text-stroke: 2.5px black;
    z-index: 4;
    transition: all 1s ease-in;
}
    /* =========== FINAL SCREEN ============ */
.popup--finScreen {
    position: absolute;
    z-index: 4;
    width: 100%;
    height: auto;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    -webkit-text-stroke: 2.5px black;
    font-size: 3rem;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    color: white;
    transition: 1s all linear;
}

.popup--finScreen>span {
    font-size: 5.5rem;
    margin: 0;
    line-height: 70%;
}

.popup--finScreen>img {
    width: 80%;
    margin: auto;
    animation-name: crownIn;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-iteration-count: forwards;
}

@keyframes crownIn {
    0% {
        transform: scale(20%);
    }
    50% {
        transform: scale(110%);
    }
    60% {
        transform: scale(100%);
    }
    70% {
        transform: scale(105%);
    }
    80% {
        transform: scale(100%);
    }
    90% {
        transform: scale(105%);
    }
    100% {
        transform: scale(100%);
    }
}

.play--screen--back {
    margin-top: 20px;
}
    
    /* =========== BG ============ */

.popup--bg {
    opacity: 70%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 0;
    
}



/* =========== PLAY SCREEN ============ */
/* ==================================== */
/* ==================================== */


.play--screen {
    width: 100vw;
    height: 100svh;
    filter: blur(5px);
    transition: all 1s linear;
    
}

.play--screen>img {
   width: 100vw;
   height: 100svh;
    z-index: 0;
    object-fit: cover;
}

    /* =========== TEXT ============ */
.text {
    width: 100%;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 0;
    padding: 15px;
    color: white;
    font-weight: 400;
    font-size: 2rem;
     -webkit-text-stroke: 2px black;
}

.time  {
    width: 40%;
    
}

.score {
    width: 40%;
}
.uni {
    font-size:1.7rem;
    float: left;
    margin-top: 0.3rem;
}

.time--change, .score--change {
    float: left;
    font-size: 2rem;
}
    /* =========== WINDOW ============ */
.window--holder {
    width: 100vw;
    height: auto;
    position: absolute;
    top: 25%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    
    
}

.window {
    width: 33%;
    height: auto;
    z-index: 2;
    overflow: hidden;
    position: relative;
    
}

.window>img {
    width: 100%;
    height: 100%;
    z-index: 2;
    position: relative;
    object-fit: cover;
}

.ghost {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0%;
    opacity: 0;
    z-index: 3;
    transition: all 0.3s linear;
}

.active {
    opacity:1;
}

.ghost>img{
    width: 100%;
    height: auto;
    
}

.bg-black {
    width: 90%;
    height: 90%;
    background-color: #262626;
    z-index: -1;
    position: absolute;
    top:0;
    margin: auto;
}

}

/* =========== DESKTOP ================================ */
/* ==================================================== */
/* ==================================================== */

@media only screen and (min-width: 601px) {
.popup {
    width: 100vw;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

    /* =========== MENU ============ */

.popup--menu {
    width: 50%;
    height: 30%;
    position: absolute;
    z-index: 4;
    transition: all 1s ease-in;
    
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
    
}

.button {
    width: 30%;
    height: 60px;
    margin-top: 20px;
    background-color: orange;
    border: 4px solid black;
    border-radius: 25px;
    color: white;
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-content: center;
    -webkit-text-stroke: 2.5px black;
   margin: auto;
    text-align: center;
    user-select: none;
}

.button:active{
    border: 4px solid white;
}
    /* =========== COUNTDOWN ============ */

.popup--countdown {
    width: 200px;
    height: 200px;
    margin: auto;
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    position: absolute;
    
    font-size: 10rem;
    animation-name: countDown;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    color: white;
    -webkit-text-stroke: 2.5px black;
    z-index: 4;
    
}

@keyframes countDown {
    0% {
        transform: scale(100%);
            
    }
    
    75% {
        opacity: 100%;
    }
    100%{
        transform: scale(20%);
        opacity: 0%;
    }
}

    /* =========== SCORE ============ */
.popup--score {
    width: 100%;
    margin: auto;
    position: absolute;
    display: none;
    text-align: center;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 2rem;
    color: white;
    -webkit-text-stroke: 2.5px black;
    z-index: 4;
    transition: all 1s ease-in;
}
    /* =========== FINAL SCREEN ============ */
.popup--finScreen {
    position: absolute;
    z-index: 4;
    width: 100%;
    height: auto;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    -webkit-text-stroke: 2.5px black;
    font-size: 3rem;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    color: white;
    transition: 1s all linear;
}

.popup--finScreen>span {
    font-size: 5.5rem;
    margin: 0;
    line-height: 70%;
}

.popup--finScreen>img {
    width: 30%;
    margin: auto;
    animation-name: crownIn;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-iteration-count: forwards;
}

@keyframes crownIn {
    0% {
        transform: scale(20%);
    }
    50% {
        transform: scale(110%);
    }
    60% {
        transform: scale(100%);
    }
    70% {
        transform: scale(105%);
    }
    80% {
        transform: scale(100%);
    }
    90% {
        transform: scale(105%);
    }
    100% {
        transform: scale(100%);
    }
}

   
.play--screen--back {
    margin-top: 20px;
    
}
    
    /* =========== BG ============ */

.popup--bg {
    opacity: 70%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 0;
}



/* =========== PLAY SCREEN ============ */
/* ==================================== */
/* ==================================== */


.play--screen {
    width: 25vw;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    z-index: 0;
    left: 50%;
    transform: translateX(-50%);
    filter: blur(5px);
    transition: all 1s linear;
    
}

.play--screen>img {
   width: 100%;
   height: auto;
    z-index: 0;
    
}

    /* =========== TEXT ============ */
.text {
    width: 100%;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    position: absolute;
    top: 0;
    
    
    color: white;
    font-weight: 400;
    font-size: 2rem;
     -webkit-text-stroke: 2px black;
    
}

.time  {
    width: 100%;
    
}

.score {
    width: 100%;
}
.uni {
    font-size:1.7rem;
    float: left;
    margin-top: 0.3rem;
}

.time--change, .score--change {
    float: left;
    font-size: 2rem;
}
    /* =========== WINDOW ============ */
.window--holder {
    width: 100%;
    height: auto;
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    padding: 0px;
    margin: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    z-index: 3;
    justify-content: space-around;
    
    
}

.window {
    width: 33%;
    height: auto;
    z-index: 2;
    overflow: hidden;
    position: relative;
    
}

.window>img {
    width: 100%;
    height: 100%;
    z-index: 2;
    position: relative;
    object-fit: cover;
}

.ghost {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0%;
    opacity: 0;
    z-index: 3;
    transition: all 0.3s linear;
}

.active {
    opacity:1;
}

.ghost>img{
    width: 100%;
    height: auto;
    
}

.bg-black {
    width: 90%;
    height: 90%;
    background-color: #262626;
    z-index: -1;
    position: absolute;
    top:0;
    margin: auto;
}
    
    
    
}